@font-face {
    font-family: "TTFirsNeueMedium";
    src: url("/fonts/TTFirsNeueMedium.woff") format("woff"),
    url("/fonts/TTFirsNeueMedium.ttf") format("truetype");
    font-style: normal;
    font-weight: 500;
}
:root {
    --white: white;
    --black: black;
    --gray: #6F767E;
    --gray-line: #D9D9D9;
    --blue: #3E8BF3;
    --blue-background: #F5F9FE;
    --light-violet: #DFD3F7;
    --light-blue: #C0E1EE;
    --light-green: #D0E5C2;
    --h1: 4em;
    --h2: 48px;
    --text24: 24px;
    --text20: 20px;
    --text18: 18px;
    --text16: 16px;
    --text14: 14px;
    --line-h1: 72px;
    --line-h2: 56px;
    --line-32: 32px;
    --line-24: 24px;
    --line-16: 16px;
}
body, button {
    font-family: "TTFirsNeueMedium", sans-serif;
}
body, html {
    width: 100%;
    background-color: var(--white);
}
h1 {
    font-size: var(--h1);
    line-height: var(--line-h1);
}
h2 {
    font-size: var(--h2);
}
header {
    max-width: 1440px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin: 0 auto;
    height: 88px;
}
.header_wrapper {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 1275px;
    margin: 0 auto;
}
.info_menu {
    display: flex;
    align-items: center;
}
.vertical_line {
    height: 48px;
    width: 1px;
    background-color: var(--gray-line);
    margin: 0px 24px;
}
.menu_items {
    width: 552px;
}
ul {
    display: flex;
    justify-content: space-between;
}
li a{
    font-size: var(--text16);
    color: var(--gray);
}
.select_language {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: auto;
}
.language_block {
    display: flex;
    width: 108px;
    color: var(--black);
    justify-content: space-between;
    margin-right: 24px;
}
.btn_launch {
    padding: 12px 16px;
    border-radius: 8px;
    border-style: none;
    color: var(--white);
    font-size: var(--text16);
    line-height: var(--line-24);
    background-color: var(--blue);
}
.banner_body {
    background-color: var(--blue-background);
    height: 865px;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
}
.banner_wrapper, .about_wrapper {
    display: grid;
    width: 1275px;
    margin: 0 auto;
}
.banner_title {
    width: 550px;
}
.banner_title button {
    padding: 16px 24px;
    line-height: var(--line-32);
    font-size: var(--text20);
    margin: 32px 0px;
}
.banner_text {
    display: flex;
    align-items: center;
    width: 273px;
    justify-content: space-between;
    color: var(--gray);
}
.banner_small {
    display: flex;
    justify-content: space-between;
    width: 1330px;
    margin: 0 auto;
}
.social span {
    margin-right: 24px;
}
.scroll,.social {
    display: inline-flex;
    align-items: center;
    justify-content: space-between;
    color: var(--gray);
    font-size: var(--text14);
    line-height: var(--line-16);
}
.scroll_icon, .facebook, .twitter, .instagram {
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: var(--white);
    border-radius: 50%;
    width: 24px;
    height: 24px;
    margin-right: 16px;
    -webkit-box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.1);
    -moz-box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.1);
    box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.1);
}
.instagram {
    margin-right: 0px;
}
.facebook, .twitter, .instagram {
    width: 40px;
    height: 40px;
}
.about_wrapper {
    justify-content: space-evenly;
    height: 432px;
    margin-bottom: 120px;
    border-bottom: 1px solid var(--gray-line);
}
.about_title {
    width: 517px;
    line-height: var(--line-h2);
}
.about_desc {
    color: var(--gray);
    line-height: var(--line-32);
}
@media screen and (min-width: 768px) {
    .grid-gap--small {
        gap: 50px;
    }
    .grid--centered {
        align-items: center;
    }
    .grid--1x2 {
        grid-template-columns: 1fr 1fr;
    }
}